<h1>Create Local Gem</h1>

<form action='/create' method='POST'>
  <label for='gemName'>
    Gem:
    <input type='text' name='gemName' />
  </label>
  <label for='description'>
    Description:
    <input type='text' name='description' />
  </label>
  <label for='location'>
    Location:
    <input type='text' name='location' />
  </label>
  <label for='imgUrl'>
    Img:
    <input type='file' name='imgUrl' accept='image/png, image/jpeg' />
  </label>
  <label for='category'>
    Category:
    <input type='text' name='category' />
  </label>
  <label for='category'>
    Created By:
    <input type='text' name='createdBy' />
  </label>

  <button type='submit'>Submit</button>
</form>