<h1 class='create-gem-heading text-center' id='city-name'>Local Gems</h1>
<div class='gems-searched'>
  {{#each gems}}
    <div class='gems-searched-container text-center'>
      <img class='gem-img img-fluid' src='{{imgUrl}}' alt='local gem' />
      <div class='gem-info-container'>
        <h2 class='mt-3'>{{venueName}}</h2>
        <h2 class='gem-description'>{{description}}</h2></div>
    </div>
  {{/each}}
</div>