
<div id="home-local">
   <h1 class="merri">Local gems!</h1>
    <p id="p" class="text-center mont">Discover Local Gems Around You</p>

  <span><img id="serpent" src="images/serpent-mound-ohio-3[6].jpg" alt=""></span>
 
  <p class="mont">Welcome to LocalGems, your go-to platform for exploring the hidden treasures in your own city. With LocalGems, you'll be able to uncover the secret spots, unique experiences,

    and local favorites that make your city truly special.</p>
  <h2 class="merri">Search for Local Gems</h2>
  <p class="mont">Upon launching the app, you'll land on a search bar where you can begin your exploration. Simply type in what you're interested in, whether it's the best iced matcha in town,
    a spot to rent SUPs for a leisurely day on the water, or an establishment offering the finest homemade garlic spread. Categories for search include food, drink, events,
    activities, and much more.</p>
  <h2 class="merri">Add Your Own Local Gems</h2>
  <p id="closing" class="mont">For users who sign up, LocalGems offers the ability to contribute their own discoveries to the platform. Found a new boutique, an underground music event, or a delightful
    bakery? Don't keep it to yourself! Sign up, add your local gem to the app, and share it with the community.</p>

</div>
