<form class='main-forms' action='/search' method='GET'>
  <input type='text' name='localGem' placeholder='Search for local gem' />
  <button type='submit'>Submit</button>
  <input type='text' placeholder='Location' />
  <button type='submit'>Submit</button>
</form>

<div class='main-content-container text-center'>
  <div class='main-img-container'>
    <img class='main-img' src='{{gems.0.imgUrl}}' alt='' />
  </div>
  <h3>{{gems.0.description}}</h3>
</div>

<div class='gem-container'>
  {{#each gems}}
    <div>
      <img class='gem-img' src='{{imgUrl}}' alt='local gem' />

      <h3>{{description}}</h3>

    </div>
  {{/each}}
</div>